<div>
    <table class="table">
        <thead>
          <th>Field Name</th>
          <th>Values</th>
          <th>Add Values</th>
        </thead>
        <tbody>
          <tr ng-repeat="dropdown in dropdowns">
            <td>{{ dropdown.field_name }}</td>
            <td>
               <div class="btn-group">
                 <select class="form-control" ng-disabled="isSaving">
                   <option ng-repeat="value in dropdown.dropdown_values">{{ value.text }}</option>
                 </select>
               </div>
            </td>
            <td>
              <input ng-model="dropdown.newValue" ng-disabled="dropdown.isSaving" type"text"/>
              <button type="button" ng-click="submit(dropdown)" ng-disabled="dropdown.isSaving" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </td>
          </tr>
        </tbody>
    </table>
</div>
